* {
    box-sizing: border-box;
}

/* Slideshow */
.slideshow {
    font-family: "Avenir T_R W01", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0;
    max-width: 800px;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -355px;
    margin-top: -290px;
    z-index: 5;
}

/* Next & previous buttons */
.slideshow__button {
    display: none;
    position: absolute;
    z-index: 2;
    width: 42%;
    left: 0;
    top: 20px;
    min-height: 40px;
}

.slideshow__button .prev,
.slideshow__button .next {
    cursor: pointer;
    right: 0;
    position: absolute;
    width: auto;
    padding: 10px;
    color: #808080;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    border-radius: 3px;
    border: 1px solid #808080;
    user-select: none;
}

/* On hover, add a grey background color */
.slideshow__button .prev:hover,
.slideshow__button .next:hover {
    background-color: #f1f1f1;
    color: black;
}

/* Position the "next button" to the right */
.slideshow__button .prev {
    right: 40px;
}

.slideshow__bullets {
    display: none;
    bottom: 15px;
    position: absolute;
    z-index: 2;
    width: 44%;
    left: 0;
}

.slideshow__bullets.active {
    display: block;
}

.slideshow__bullets span.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #e8bfc7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow__bullets span.dot.active,
.slideshow__bullets span.dot:hover {
    background-color: #ea899c;
}

/* slideshow container */
.bgFloater {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.slideshow__container {
    width: 100%;
    height: 625px;
    background: #fff;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
}

.slideshow__container .content {
    position: relative;
}

.slideshow__container .slideshow__close {
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    width: 37px;
    height: 37px;
    position: absolute;
    right: 0px;
    top: -37px;
}

.slideshow h2,
.slideshow h3 {    
    color: #EA899C;
    font-weight: 600;
}

.slideshow h3 {    
   font-weight: normal;
}

.slideshow .slideshow__slide {
    display: none;
}

.slideshow .slideshow__slide.active {
    display: flex;
}

.slideshow .slideshow__slide .slideshow__product {
    max-width: 45%;
    height: 625px;
    background-color: #ededed;
    padding: 60px 20px 50px 20px;
}

.slideshow .slideshow__slide-image {
    width: 185px;
    margin: 0 auto;
    padding-top: 30px;
}

.slideshow .slideshow__slide-image img {
    width: 100%;
    vertical-align: middle;
}

.slideshow .slideshow__slide-image.desk {
    display: none;
}

.slideshow .slideshow__slide-image.mob {
    display: block;
}

.slideshow .slideshow__slide-warning {
    font-size: 12px;
    line-height: 17px;
    color: #999;
}

/* list seller */
ul.list__seller {
    padding: 0px 30px;
    margin: 0;
    list-style: none;
    max-height: 580px;
    overflow: hidden;
    overflow-y: scroll;
}

ul.list__seller::-webkit-scrollbar {
    width: 6px;
}

ul.list__seller::-webkit-scrollbar-track {
    background: #f1f1f1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ul.list__seller::-webkit-scrollbar-thumb {
    background: #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ul.list__seller::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

ul.list__seller li {
    display: flex;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

ul.list__seller li .seller__logo {
    width: 110px;
    padding-top: 6px;
}

ul.list__seller li .seller__logo img {
    display: block;
    width: 100%;
}

ul.list__seller li .seller__details {
    color: #555;
    text-align: left;
    padding: 0 40px;
}

ul.list__seller li .seller__details strong {
    font-weight: 600;
    font-size: 14px;
}

ul.list__seller li .seller__buy p,
ul.list__seller li .seller__details p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: inline-block;
}

ul.list__seller li .seller__buy p span,
ul.list__seller li .seller__details p span {
    color: #BF013D;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 1px;
}

ul.list__seller li .seller__buy p {
    display: none;
}

ul.list__seller li .seller__buy a {
    text-decoration: none;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 400;
    color: #BF013D;
    background-color: #fff;
    border: 1px solid #BF013D;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

ul.list__seller li p.slideshow__slide-warning {
    display: none;
}

ul.list__seller .slideshow__farm {
    display: none;
    text-align: left;
    color: #555;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 20px 0 30px 0;
    font-weight: 100;
}

@media (min-width: 320px) and (max-width: 800px) {
    .slideshow {
        margin: 0px;
        top: 35px;
        left: 0;
    }

    .slideshow .slideshow__container {
        width: 100%;
        height: 100%;
    }

    .slideshow__container .slideshow__button {
        top: 467px;
        width: 55%;
    }

    .slideshow .slideshow__slide.active {
        display: block;
    }

    .slideshow .slideshow__slide .slideshow__product {
        width: 100%;
        max-width: 100%;
        padding-top: 15px;
        padding-bottom: 0;
        height: 540px;
    }

    .slideshow .slideshow__slide .slideshow__product h2, 
    .slideshow .slideshow__slide .slideshow__product h3 {
        text-align: left; 
    }
    
    .slideshow .slideshow__slide ul.list__seller {
        overflow-y: hidden;
        max-height: 100%;
        padding: 0px 15px
    }

    .slideshow .slideshow__slide ul.list__seller li {
        display: block;
    }

    .slideshow .slideshow__slide ul.list__seller li .seller__logo {
        float: left;
    }

    .slideshow .slideshow__slide ul.list__seller li .seller__details {
        padding: 0;
        float: right;
    }

    .slideshow .slideshow__slide ul.list__seller li .seller__details p {
        display: none;
    }

    .slideshow .slideshow__slide ul.list__seller li .seller__buy {
        width: 100%;
        overflow: hidden;
    }

    .slideshow .slideshow__slide ul.list__seller li .seller__buy a {
        float: right;
    }

    .slideshow .slideshow__slide ul.list__seller li .seller__buy p {
        display: inline-block;
        padding-top: 20px;
        float: left;
    }

    .slideshow .slideshow__slide ul.list__seller .slideshow__farm {
        display: block;
    }

    .slideshow__bullets.active {
        display: none;
    }

    .slideshow .slideshow__slide-warning {
        display: none;
    }

    .slideshow .slideshow__slide-image.mob {
        display: block;
    }

    .slideshow .slideshow__slide-image.desk {
        display: none;
    }
}